Lesson-Files/02-Docker-Compose/09-Influxdb-nodered-automation/nodered.1/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"817ac0aa.0e86a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"9d41cfd6.5fe44","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":400,"wires":[["10d047b2.ab2c38"]]},{"id":"10d047b2.ab2c38","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://dev1:5000","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":400,"wires":[["4c7a1fb7.c1aa9","8fb09797.28ba78"]]},{"id":"4c7a1fb7.c1aa9","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":400,"wires":[]},{"id":"669e3330.0321bc","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"817ac0aa.0e86a","name":"influxdb","measurement":"data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"mtc","bucket":"mtcbucket","x":900,"y":520,"wires":[]},{"id":"8fb09797.28ba78","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = [\n    [{\n        temp: msg.payload.data.temp,\n    },\n    {\n        device: msg.payload.data.device,\n        name: msg.payload.data.name\n    }],\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":520,"wires":[["4c7a1fb7.c1aa9","669e3330.0321bc"]]}]