Lesson-Files/02-Docker-Compose/13-Grafana-Automation/nodered/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c2bb514.1d2198","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"9d41cfd6.5fe44","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":400,"wires":[["10d047b2.ab2c38"]]},{"id":"10d047b2.ab2c38","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://dev1:5000","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":400,"wires":[["4c7a1fb7.c1aa9","220b7260.eab46e"]]},{"id":"4c7a1fb7.c1aa9","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"a536e7c7.4cb5a8","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"8c2bb514.1d2198","name":"influxdb","measurement":"data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"mtc","bucket":"mtcbucket","x":800,"y":500,"wires":[]},{"id":"220b7260.eab46e","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = [\n    [{\n        temp: msg.payload.data.temp,\n    },\n    {\n        device: msg.payload.data.device,\n        name: msg.payload.data.name\n    }],\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":500,"wires":[["a536e7c7.4cb5a8","4c7a1fb7.c1aa9"]]}]