Lesson-Files/02-Docker-Compose/04-Node-Red-Config/nodered/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6078e0e.d41fa","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":340,"wires":[["d1dff1b8.d4bd3"]]},{"id":"d1dff1b8.d4bd3","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api:5000","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":340,"wires":[["a82b5782.bd03d8"]]},{"id":"a82b5782.bd03d8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":340,"wires":[]}]